<!DOCTYPE html>
<html>
  <head>
    <title>Ottwatch</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>

    <div class="well" style="margin-top: 10px;">
    <a href="http://ottwatch.ca"><img style="float: right; padding-left: 5px; width: 50px; height: 50px;" src="http://ottwatch.ca/img/ottwatch.png"></a>
    <i>Created by <a href="http://twitter.com/kevinodotnet"><b>Kevin O'Donnell</b></a> to make it easier to be part of the political conversation in Ottawa.</i><br>
    On Twitter? Follow <b><a href="http://twitter.com/OttWatch">@OttWatch</a></b> and <b><a href="http://twitter.com/kevinodotnet">@kevinodotnet</a></b><br>
    <a href="https://docs.google.com/document/d/1E8hLg41O-CFYHVTtiTRXdo52ltD5uXeNkVDTmAPmwFA/edit?usp=sharing">Privacy Policy</a>
    <div class="clearfix"></div>
    </div>
  </body>
</html>
